$color-theme: red;
$color-second-theme: red;

$mint-pallete-1: #aaf0d1;
$mint-pallete-2: #91d9c4;
$mint-pallete-3: #b5f5e1;
$mint-pallete-3: #5fc5a6;
$mint-pallete-4: #d4f7f1;
$mint-pallete-5: #77bfa3;

//Complementary palette:

$palette-complementary-1: #aaf0d1;
$palette-complementary-2: #191334;
$palette-complementary-3: #f0b8aa;
$palette-complementary-4: #f0ebe8;
$palette-complementary-5: #9c9ca1;

//Analogous palette:

$palette-analogous-1: #aaf0d1;
$palette-analogous-2: #8bd5c7;
$palette-analogous-3: #5e829f;
// $palette-analogous-4: #191334;
$palette-analogous-4: #090c24;
$palette-analogous-5: #3b3e4d;

//Triadic palette:

$analogous-triadic-1: #aaf0d1;
$analogous-triadic-2: #191334;
$analogous-triadic-3: #f0d2aa;
$analogous-triadic-4: #7386a0;
$analogous-triadic-5: #d9f0aa;
