.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;

  min-height: 90vh;

  .skills {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 1em;

    .item {
      padding: 1em;
      text-align: center;
      &:hover {
        background-color: #c3c3c344;
      }
      img {
        width: 70%;
      }
      h4 {
        margin-top: 1em;
        font-size: 0.55rem;
      }
      .itemIcon {
        width: 128px;
      }
    }
  }
}
