@import "../../styles/variables";
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  .projects {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    gap: 1em;

    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }

    .highlight {
      border: 5px solid $palette-analogous-1;
    }
    .project {
      transition: box-shadow 0.2s ease-in-out;
      border-radius: 8px;
      width: 100%;
      // background-color: $analogous-triadic-4;
      background-color: #b7b7b7a7;
      padding: 0.5em;
      box-shadow: 0px 0px 0px 0px $palette-complementary-5;

      &:hover {
        box-shadow: 4px 4px 7px 2px $palette-complementary-1;
      }
      .projectName {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h4 {
          color: #000;
          font-size: 0.6rem;
        }
        span {
          display: flex;
          gap: 0.2em;
          a {
            color: #000;
            display: inline-flex;

            &:hover {
              color: $analogous-triadic-1;
            }
          }
        }
      }
      .content {
        display: flex;
        gap: 0.5em;

        .description {
          width: 100%;
        }
        .description,
        .description > * {
          font-size: 0.45rem;
          color: #000;
        }
        img {
          width: 100%;
          max-width: 256px;
        }

        @media (max-width: 1024px) {
          flex-direction: column;

          img {
            max-width: unset;
          }
        }
      }
      .tags {
        display: flex;
        gap: 0.5em;
        .tag {
          cursor: default;
          list-style-type: none;
          background-color: #b1b1b1;
          font-size: 0.4rem;
          font-weight: 700;
          color: #000;
          padding: 0.35em;
          border-radius: 5px;
          box-shadow: 0 0 3px 0 #ffffff3f;
        }
      }

      hr {
        margin: 0.4em 0;
        border: 1px solid #9f9f9f;
        opacity: 0.5;
      }
    }
  }
}
