@import "../../styles//variables";

.headerContainer {
  display: flex;
  nav,
  .options {
    display: flex;
  }
}

.headerContainer {
  // box-shadow: 0 0 7px 1px rgba(255, 250, 250, 0.44);
  border-bottom: 1px solid rgba(255, 250, 250, 0.217);
  width: 100%;
  background-color: #000;
  // background-color: $palette-analogous-4;
  padding: 0.2em 1em;
  align-items: center;
  justify-content: space-between;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 1111;

  transition: top 0.3s ease-in-out;
  .activeLink {
    transition: 0.4s ease-in-out;
    font-weight: 700;
  }
  a {
    color: $palette-analogous-1;
    text-decoration: none;
  }
  h1 {
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      transform: scale(1.1, 1.1);
    }
  }
  nav {
    li {
      list-style-type: none;
      a {
        display: block;
        color: $palette-analogous-1;
        padding: 0.5em 1em;
        border-bottom: 1px solid transparent;
        font-size: 0.55rem;

        &:visited {
          color: inherit;
        }
        &:hover {
          cursor: pointer;
          color: $palette-analogous-2;
          // border-bottom: 1px solid red;
        }
      }
    }
  }

  .options {
    justify-content: space-between;
    gap: 0.5em;

    .social {
      padding: 0 0.5em;
      a {
        svg {
          font-size: 0.8rem;
        }

        &:visited {
          color: #fff;
        }
        &:hover {
          color: $palette-analogous-1;
        }
      }
    }
  }
}
