@import "../../styles//variables";

.headerContainer {
  display: flex;
  nav,
  .options {
    display: flex;
  }
}

.headerContainer {
  width: 100%;
  background-color: $palette-analogous-4;
  padding: 0.5em 1em;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  left: 0;
  z-index: 1111;

  transition: top 0.3s ease-in-out;
  a {
    color: $palette-analogous-1;
    text-decoration: none;
  }
  nav {
    li {
      list-style-type: none;
      a {
        display: block;
        color: $palette-analogous-1;
        padding: 0.5em 1em;
        border-bottom: 1px solid transparent;

        &:visited {
          color: inherit;
        }
        &:hover {
          cursor: pointer;
          color: $palette-analogous-2;
          // border-bottom: 1px solid red;
        }
      }
    }
  }

  .options {
    justify-content: space-between;
    gap: 0.5em;

    .social {
      padding: 0 0.5em;
      a {
        svg {
          font-size: 1.8rem;
        }

        &:visited {
          color: #fff;
        }
        &:hover {
          color: $palette-analogous-1;
        }
      }
    }
  }
}
