.container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;

  & > * {
    color: #f3f3f3;
  }
  .introduce {
    width: 80%;

    h2 {
      font-size: 1.5rem;
      text-align: center;
    }
    .introduceText {
      margin-top: 1em;
      font-size: 0.85rem;
      text-align: justify;
    }
  }
}
